			div, ul, li { margin : 0;  padding : 0; }
			#container { width : 810px; margin : 5px auto; }
			.fix:after { content : "."; clear : both;
						 display : block;
						 height : 0; visibility : hidden; }
			#tabs { position : relative; list-style-type : none; }
			#tabs li { position : relative;
					   float : left;  width : 155px;
					   text-align : center;  margin : 0 3px; }
			#tabs li a.active { position : relative;
								color : #555; top : 1px;
								background-color : #fff; }
			#tabs li a { position : relative;
						 border-top: 1px solid #333;
						 border-left: 1px solid #333;
						 border-right: 1px solid #333;
						 color: #fff;   display: block;
						 background-color : #555;
						 padding: 5px 5px 5px 0px;            
						 text-decoration: none; }
			.content { border : 1px solid #333;
					   background-color : #fff; }
			.tab { display : none; }