<!DOCTYPE html>
<html>
	<head>
		<title>HomePage</title>
		<meta charset="UTF-8">	
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<style>
		div{float: left;}
	</style>
	<body>
		<header class="w3-container w3-teal">
			<h1>HomePage</h1>
		</header>
		<div class="w3-bar w3-teal">
			<button class="w3-button w3-right"><a href="test8.html">前往個人頁面</a></button> 
		</div>
		<form>
			<h2 align="center">研究者們</h2>
			
			
			<div class="w3-card-4 w3-margin-left w3-margin-bottom" style="width:30%">
				<img src="pic_test9.jpg"style="width:100%">
				<p align="center">Tokoy</p>
				<p><button class="w3-button w3-white w3-border"><b><a href="test10.html">READ MORE »</a></b></button></p>
			</div>
			<div class="w3-card-4 w3-margin-left w3-margin-bottom" style="width:30%">
				<img src="pic_test9.jpg"style="width:100%">	
				<p align="center">Tokoy</p>
				<p><button class="w3-button w3-white w3-border"><b>READ MORE »</b></button></p>
			</div>	
			<div class="w3-card-4 w3-margin-left w3-margin-bottom" style="width:30%">
				<img src="pic_test9.jpg"style="width:100%">	
				<p align="center">Tokoy</p>
				<p><button class="w3-button w3-white w3-border"><b>READ MORE »</b></button></p>
			</div>
			<div class="w3-card-4 w3-margin-left w3-margin-bottom" style="width:30%">
				<img src="pic_test9.jpg"style="width:100%">	
				<p align="center">Tokoy</p>
				<p><button class="w3-button w3-white w3-border"><b>READ MORE »</b></button></p>
			</div>
			<div class="w3-card-4 w3-margin-left w3-margin-bottom" style="width:30%">
				<img src="pic_test9.jpg"style="width:100%">	
				<p align="center">Tokoy</p>
				<p><button class="w3-button w3-white w3-border"><b>READ MORE »</b></button></p>
			</div>
			
		</form>
	</body>
</html>
